<%- include('header') -%>

<title>Websocket</title>
       <script type="text/javascript" src="canvasjs.min.js"></script>
       <script>
       window.onload = function () {

           var xVal = 0;
           var yVal = 100;
           var updateInterval = 20;
           var dataLength = 100;                               // number of dataPoints visible at any point

           var dps = [];                                       // dataPoints container

           //Creating Chart variables
           
           var chart = new CanvasJS.Chart("chartContainer1", {
               title :{
                   text: "Channel 1"
               },
               axisY: {
                   includeZero: false
               },
               data: [{
                   type: "line",
                   dataPoints: dps
               }]
           });
           
           //Creating update function for chart to push the data point variables and render when start command is sent
           var updateChart = function (count) {

           count = count || 1;

           for (var j = 0; j < count; j++) {
              yVal=DATA1;
              dps.push({
              x: xVal,
              y: yVal
              });
              xVal++;
            }

            if (dps.length > dataLength) {
               dps.shift();
               }
               if (command === "start"){
               chart.render()
               }
              };

           //Updating chart
           updateChart(dataLength);
           setInterval(function(){updateChart()}, updateInterval);    
              }
   </script>
   </head>
   <body>
   
   <%- include('menu') -%>
   
   <input style="width: 800px;height: 200px" type="text" placeholder="enter text here to send to server" id="eingabe" onkeypress="myFunction(event)"/>

   <button type="button" class="btn btn-dark" onclick="clearlog()">Clear Logs</button>
   <button type="button" class="btn btn-dark" onclick="START()">Start</button>
   <button type="button" class="btn btn-dark" onclick="STOP()">Stop</button>
   <button type="button" class="btn btn-dark" onclick="InitADC()">InitADC</button>

   <div id="chartContainer1" style="height: 270px; width:50%;"></div>
   <div style="overflow:scroll; width: 800px; height: 550px; border: solid; border-radius: 9px" id="display"></div>

   <script>
       var DATA1=10;
       var command="";
       var sock =new WebSocket("ws://192.168.137.1:3000");                          //replace this address with the one the node.js server prints out. keep port 3000
       var display=document.getElementById("display");

       sock.onopen=function(event){
           setTimeout(function(){sock.send('connection succeeded');},1000);
           display.innerHTML+="connection succeeded <br />";
       };
       sock.onmessage=function(event){
           DATA1=(parseInt(event.data));
           //console.log(event);                                                    //show received from server data in console of browser
           //display.innerHTML+=event.data+"<br />";                                //add incoming message from server to the log screen previous string + new string(message)
       };
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////// Button Functions 
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////       
       
       function myFunction(event) {
           if(event.keyCode==13){                                                   //when enter is pressed...
               var text=document.getElementById('eingabe').value;    
               if(text!=""){                                                         //if text is not an empty string
                   //display.innerHTML+="From Client: "+text+"<br />"; 
                   sock.send(text);   
                   display.innerHTML+="<strong>Me: </strong>" + text+"<br />";      
                   document.getElementById('eingabe').value="";    
               }
               else{
                   console.log("empty string not sent")
               }
           }}
       function clearlog(){
           display.innerHTML="";
       }

       function START(){
           //assign value of the entered string to the text variable
           var text="start";
           command=text;
           if(text!=""){     
               sock.send(text);                                                     //send string to server
               display.innerHTML+="<strong>Me: </strong>" + text+"<br />";          //display input text in div 
               document.getElementById('eingabe').value="";                         //clear the input field
           }
           else{
               console.log("empty string not sent")
           }
       }

       function STOP(){
           var text="stop";
           command=text;
           if(text!=""){    
               sock.send(text);   
               display.innerHTML+="<strong>Me: </strong>" + text+"<br />";      
               document.getElementById('eingabe').value="";     
           }
           else{
               console.log("empty string not sent")
           }
       }

       function InitADC(){
           var text="init";
           command=text;
           if(text!=""){     
               sock.send(text);  
               display.innerHTML+="<strong>Me: </strong>" + text+"<br />";     
               document.getElementById('eingabe').value="";  
           }
           else{
               console.log("empty string not sent")
           }
       }
   </script>
   <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
   <%- include('footer') -%>
